In [89]:
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
from sqlalchemy.ext.automap import automap_base
from datetime import date
from sqlalchemy.orm import Session
from flask import Flask, jsonify

In [90]:
clean_hawaii_measure=pd.read_csv('clean_hawaii_measurements.csv')
stations_hawaii = pd.read_csv('hawaii_stations.csv')

In [91]:
clean_hawaii_measure=clean_hawaii_measure.drop(clean_hawaii_measure.columns[0],axis=1)

In [92]:
from sqlalchemy import create_engine, MetaData

In [93]:
engine = create_engine('sqlite:///hawaii.sqlite')
conn=engine.connect()

In [94]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [95]:
#http://docs.sqlalchemy.org/en/latest/orm/extensions/declarative/basic_use.html
Base = declarative_base()

In [96]:
class Station(Base):
    __tablename__='station_hawaii'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return "<(%r, %r, %r, %r, %r)>" % (self.station, self.name, self.latitude, self.longitude, self.elevation)

In [97]:
class Measurement(Base):
    __tablename__='weather_measurement'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
    def __repr__(self):
        return "<(%r, %r, %r, %r)>" % (self.station, self.date, self.prcp, self.tobs)

In [98]:
#http://docs.sqlalchemy.org/en/latest/core/metadata.html
Base.metadata.create_all(engine)

In [99]:
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_dict.html
measure=clean_hawaii_measure.to_dict(orient='records')

In [100]:
station=stations_hawaii.to_dict(orient='records')

In [101]:
# Heading 1 : Reflecting All Tables at Once

In [102]:
#http://docs.sqlalchemy.org/en/latest/core/reflection.html
meta=MetaData(bind=engine)
meta.reflect()

In [103]:
import sqlalchemy

In [110]:
station_datab=sqlalchemy.Table('station_hawaii', metadata, autoload=True)

In [111]:
measurement_datab=sqlalchemy.Table('weather_measurement', metadata, autoload=True)

In [ ]:
#Heading 2: Connecting to the engine

In [113]:
conn.execute(station_datab.insert(),station)

In [114]:
conn.execute(measurement_datab.insert(),measure)

In [116]:
conn.execute('select * from weather_measurement limit 50').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70),
 (6, 'USC00519397', '2010-01-08', 0.0, 64),
 (7, 'USC00519397', '2010-01-09', 0.0, 68),
 (8, 'USC00519397', '2010-01-10', 0.0, 73),
 (9, 'USC00519397', '2010-01-11', 0.01, 64),
 (10, 'USC00519397', '2010-01-12', 0.0, 61),
 (11, 'USC00519397', '2010-01-14', 0.0, 66),
 (12, 'USC00519397', '2010-01-15', 0.0, 65),
 (13, 'USC00519397', '2010-01-16', 0.0, 68),
 (14, 'USC00519397', '2010-01-17', 0.0, 64),
 (15, 'USC00519397', '2010-01-18', 0.0, 72),
 (16, 'USC00519397', '2010-01-19', 0.0, 66),
 (17, 'USC00519397', '2010-01-20', 0.0, 66),
 (18, 'USC00519397', '2010-01-21', 0.0, 69),
 (19, 'USC00519397', '2010-01-22', 0.0, 67),
 (20, 'USC00519397', '2010-01-23', 0.0, 67),
 (21, 'USC00519397', '2010-01-24', 0.01, 71),
 (22, 'USC00519397', '2010-01-25', 0.0, 67),
 (23, 'USC00519397', '2010-01-26', 0.04, 76),
 (24, 'USC00519397', '2010-01-27', 0.12, 68),
 (25, 'USC00519397', '2010-01-28', 0.0, 72),
 (26, 'USC00519397', '2010-01-31', 0.03, 67),
 (27, 'USC00519397', '2010-02-01', 0.01, 66),
 (28, 'USC00519397', '2010-02-04', 0.01, 69),
 (29, 'USC00519397', '2010-02-05', 0.0, 67),
 (30, 'USC00519397', '2010-02-06', 0.0, 67),
 (31, 'USC00519397', '2010-02-07', 0.0, 64),
 (32, 'USC00519397', '2010-02-08', 0.0, 69),
 (33, 'USC00519397', '2010-02-09', 0.0, 73),
 (34, 'USC00519397', '2010-02-11', 0.0, 73),
 (35, 'USC00519397', '2010-02-12', 0.02, 69),
 (36, 'USC00519397', '2010-02-13', 0.01, 69),
 (37, 'USC00519397', '2010-02-14', 0.0, 69),
 (38, 'USC00519397', '2010-02-15', 0.0, 71),
 (39, 'USC00519397', '2010-02-16', 0.0, 61),
 (40, 'USC00519397', '2010-02-17', 0.0, 69),
 (41, 'USC00519397', '2010-02-20', 0.03, 64),
 (42, 'USC00519397', '2010-02-21', 0.0, 65),
 (43, 'USC00519397', '2010-02-22', 0.0, 67),
 (44, 'USC00519397', '2010-02-23', 0.0, 68),
 (45, 'USC00519397', '2010-02-24', 0.0, 65),
 (46, 'USC00519397', '2010-02-25', 0.0, 76),
 (47, 'USC00519397', '2010-02-26', 0.0, 75),
 (48, 'USC00519397', '2010-02-28', 0.0, 66),
 (49, 'USC00519397', '2010-03-01', 0.01, 70),
 (50, 'USC00519397', '2010-03-02', 0.0, 72)]