In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import bokeh
import datetime
import sqlalchemy

In [80]:
from datetime import date
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from flask import Flask, jsonify
from sqlalchemy.orm import Session
from sqlalchemy import Column, Integer, String, Text, Date, Float, func
from bokeh.plotting import figure, output_file, show

In [43]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [44]:
Base=automap_base()

In [45]:
Base.prepare(engine, reflect=True)

In [53]:
Base.classes.keys()

['station_hawaii', 'weather_measurement']

In [68]:
stations = Base.classes.station_hawaii
measurement = Base.classes.weather_measurement

In [69]:
# Heading 1: Statistical Analysis

In [70]:
stations = pd.read_sql_query("SELECT * FROM station_hawaii",engine)

In [71]:
measurement = pd.read_sql_query("SELECT * FROM weather_measurement", engine)

In [72]:
session = Session(engine)

In [73]:
measurement['date'] = measurement['date'].astype('datetime64[ns]')

In [67]:
measurement['date']

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-07
5       2010-01-08
6       2010-01-09
7       2010-01-10
8       2010-01-11
9       2010-01-12
10      2010-01-14
11      2010-01-15
12      2010-01-16
13      2010-01-17
14      2010-01-18
15      2010-01-19
16      2010-01-20
17      2010-01-21
18      2010-01-22
19      2010-01-23
20      2010-01-24
21      2010-01-25
22      2010-01-26
23      2010-01-27
24      2010-01-28
25      2010-01-31
26      2010-02-01
27      2010-02-04
28      2010-02-05
29      2010-02-06
           ...
18073   2017-07-17
18074   2017-07-18
18075   2017-07-19
18076   2017-07-20
18077   2017-07-21
18078   2017-07-22
18079   2017-07-23
18080   2017-07-24
18081   2017-07-25
18082   2017-07-26
18083   2017-07-27
18084   2017-07-28
18085   2017-07-29
18086   2017-07-30
18087   2017-07-31
18088   2017-08-02
18089   2017-08-03
18090   2017-08-07
18091   2017-08-08
18092   2017-08-09
18093   2017-08-10
18094   2017-08-12
18095   2017-08-14
18096   2017-08-15
18097   2017-08-16
18098   2017-08-17
18099   2017-08-19
18100   2017-08-21
18101   2017-08-22
18102   2017-08-23
Name: date, Length: 18103, dtype: datetime64[ns]

In [76]:
twelve_month_data = measurement[(measurement['date'] > '2016-01-18') & (measurement['date'] < '2017-01-18')]
twelve_month_data.head(20)

        id      station       date  prcp  tobs
2109  2110  USC00519397 2016-01-19  0.00    63
2110  2111  USC00519397 2016-01-20  0.00    68
2111  2112  USC00519397 2016-01-21  0.00    71
2112  2113  USC00519397 2016-01-22  0.00    70
2113  2114  USC00519397 2016-01-23  0.00    70
2114  2115  USC00519397 2016-01-24  0.00    70
2115  2116  USC00519397 2016-01-25  0.04    71
2116  2117  USC00519397 2016-01-26  0.16    68
2117  2118  USC00519397 2016-01-27  0.01    68
2118  2119  USC00519397 2016-01-28  0.00    65
2119  2120  USC00519397 2016-01-29  0.00    67
2120  2121  USC00519397 2016-01-30  0.00    65
2121  2122  USC00519397 2016-01-31  0.00    69
2122  2123  USC00519397 2016-02-01  0.00    69
2123  2124  USC00519397 2016-02-02  0.06    68
2124  2125  USC00519397 2016-02-03  0.00    70
2125  2126  USC00519397 2016-02-04  0.00    66
2126  2127  USC00519397 2016-02-05  0.00    69
2127  2128  USC00519397 2016-02-06  0.00    72
2128  2129  USC00519397 2016-02-07  0.02    68

In [90]:
twelve_month_prcp = twelve_month_data[['date','prcp']].set_index('date')
twelve_month_prcp.head(20)

            prcp
date
2016-01-19  0.00
2016-01-20  0.00
2016-01-21  0.00
2016-01-22  0.00
2016-01-23  0.00
2016-01-24  0.00
2016-01-25  0.04
2016-01-26  0.16
2016-01-27  0.01
2016-01-28  0.00
2016-01-29  0.00
2016-01-30  0.00
2016-01-31  0.00
2016-02-01  0.00
2016-02-02  0.06
2016-02-03  0.00
2016-02-04  0.00
2016-02-05  0.00
2016-02-06  0.00
2016-02-07  0.02

In [92]:
from bokeh.plotting import figure, show, output_file

In [93]:
output_file('vbar.html')

In [94]:
p = figure(plot_width=400, plot_height=400)